services:
  db:
    image: postgres:16
    container_name: notifier-db
    env_file:
      - ./notifier-backend/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./notifier-backend
    image: notifier-backend:0.1
    ports:
      - "3000:3000"
    container_name: notifier-back
    env_file:
      - ./notifier-backend/.env
    depends_on:
      - db

  frontend:
    build: ./notifier-front
    image: notifier-frontend:0.1
    ports:
      - "8080:80"
    container_name: notifier-front
    depends_on:
      - backend

volumes:
  postgres_data:
