name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.21', '1.25' ]
        
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true

      - name: Run tests
        env:
          POSTGRES_NAME_TEST: notifier_test
          POSTGRES_USER_TEST: ${{ secrets.POSTGRES_USER_TEST }}
          POSTGRES_PASSWORD_TEST: ${{ secrets.POSTGRES_PASSWORD_TEST }}
          POSTGRES_HOST_TEST: localhost
          POSTGRES_PORT_TEST: 5432
        
        run: go test -v ./...
