name: Tests
on:
  push:
    branches: [ master ]
  pull_request:
    
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.21', '1.25' ]
    
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: notifier_test
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpass
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    
    env:
      POSTGRES_NAME_TEST: notifier_test
      POSTGRES_USER_TEST: testuser
      POSTGRES_PASSWORD_TEST: testpass
      POSTGRES_HOST_TEST: localhost
      POSTGRES_PORT_TEST: 5432
        
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          cache: true
          
      - name: Run tests
        run: go test -v ./...
